---
// src/pages/proyek.astro
import Layout from '../layouts/layout.astro';
import SemuaProyek from '../pages/SemuaProyek.astro';
---

<Layout title="Semua Proyek | BREGAS Elektrik">
  <main class="pt-24">
    <SemuaProyek />
  </main>
</Layout>